[submodule "dep/hedley"]
	path = dep/hedley
	url = https://github.com/nemequ/hedley
	branch = master
[submodule "dep/argparse"]
	path = dep/argparse
	url = https://github.com/p-ranav/argparse
	branch = master
[submodule "dep/plog"]
	path = dep/plog
	url = https://github.com/SergiusTheBest/plog
	branch = master
[submodule "dep/boost"]
	path = dep/boost
	url = https://github.com/boostorg/boost.git
	branch = master
